body {
    background-color: #181F1C;
    margin: 0;
    padding: 0;
}
.title {
    background-image: linear-gradient(to right, #274029, #517254);
    padding: 12px;
    text-align: center;
}

.title h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #bcd4de;
}

.subtitle {
    text-align: center;
    margin-top: 5px;
    margin: 0px;
    color: #bcd4de;
}

.input-text {
    background-color: #203C22;
    display: flex;
    margin: auto;
    margin-top: 30px;
    padding-left: 10px; 
    width: 400px;
    height: 30px;
    font-size: 15px;
    color: #bcd4de;
    border-style: outset;
    border-width: 2px;
    border-color: #203C22;
    border-radius: 20px;
}

.submit-button {
    background-image: linear-gradient(to top, #659b5e, #32642b);
    background-color: #659b5e;
    display: flex;
    padding: 5px;
    margin: auto;
    width: 325px;
    height: auto;
    border-style: solid;
    border-width: 0px;
    border-color: #659b5e;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}

.submit-button:hover {
    opacity: 50%;
    cursor: pointer;
}
